body{
    background: url(flower.jpg.jpg);
    background-attachment: scroll;
}
div{
    background-color:rgba(240, 120, 0, 7);
    background-image: url(img.jpg);
    background-size: 150px,150px;
    background-repeat: repeat-x;
    background-position:top center;

    
    
}

