*{
    margin:0;
    padding: 0;
}
html,body{
    height: 100%;
}

.parent{
    background: purple;
    color: white;
    width: 70% ;
    margin: 20px auto;
    padding: 2%;
    max-width: 1140px;
    min-width: 500px;
    height: 100%;
}